@page "/"

<table>
    <tr>
        @foreach(var columnName in Table.ColumnNames)
        {
            <th>@columnName</th>
        }
    </tr>

    @foreach(var Row in Table.GetValues())
    {
        <tr>
            @foreach(var column in Row)
            {
                <td>@column</td>
            }
        </tr>
    }
</table>